
<% if user_signed_in? %>
	Welcome <%= current_user %> !
	<a href="#">Deconnexion</a>
<% else %>
	<% # todo : ne pas afficher cette partie si on est dans les pages item (autentification obligatoire, du coup on a 2 forms de connexion) %>

	<% # lien de login %>
	
	<p>Sign in</p>
	<%= render :partial => 'users/login'  %>

	<a href="#">or signup</a>

<% end %>



